tests/libxml/tests/tagged-port/safe/tests/regressions/schema-python/fixtures/reader_valid.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="child" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="mode" type="xs:NMTOKEN" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
